<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913047774132-clsco3jtdu0lqfp7282ek2geekgjb6u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913047774132-clsco3jtdu0lqfp7282ek2geekgjb6u5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913047774132-2nrfobhm26r99ee9c1g7tgjemq9qsl68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZeF6LLIM4CCrCyAySpu67DpUhusMvxhY</string>
	<key>GCM_SENDER_ID</key>
	<string>913047774132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alleven</string>
	<key>PROJECT_ID</key>
	<string>alleven-eec10</string>
	<key>STORAGE_BUCKET</key>
	<string>alleven-eec10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913047774132:ios:15013880858d0522d948e1</string>
</dict>
</plist>